@model Fluentify.ViewModels.QuizViewModel
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    #Radio1{
        -webkit-appearance:radio;
    }
</style>

<form action="@Url.Action("Score", "Quiz")" method="post">
    @foreach (var item in Model.Modules)
    {
        if (item.ModuleId == ViewBag.ModuleId)
        {
            <h2>@item.ModuleTitle</h2>
            <iframe src="@item.ModuleVideoLink"></iframe>
            foreach (var question in Model.Question)
            {
                if (question.ModuleId == ViewBag.ModuleId)
                {
                    <h1>@question.QuestionText</h1>
                    foreach (var choices in Model.Choices)
                    {
                        <div>
                            @if (choices.QuestionId == question.QuestionId)
                            {
                                <input id="Radio1" type="radio" name="@choices.QuestionId" value="@choices.Correct" /> <label>@choices.ChoiceText<br /></label>
                            }
                        </div>
                    }
                }
            }
        }
    }
    <div>
        <input type="submit" value="Submit Answers" />
    </div>
</form>



